
.area {
	background-image: url(images/animatBack.jpg);
	background-size: cover;
	background-repeat: repeat;
	width: 100%;
	height: 102vh;
}
.circles {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	@for $i from 1 through 10 {
	li {
		position: absolute;
		display: block;
		list-style: none;
		width: 20px;
		height: 20px;
		background: linear-gradient(30deg, #5B84B1FF 33%, #5F4B8BFF 66%, #FC766AFF);
		animation: animate 25s linear infinite;
		bottom: -10em;
		&:nth-child(#{$i}) {
			border:1px solid black;
			left: random(70) + em;
			width: random(10) + em;
			height: random(10) + em;
			animation-delay: random(10) + s;
			z-index: 0;
		}
	}
	}
}

@media screen and (max-device-width:750px) {
	.area {
		background-image: url(images/animatBack.jpg);
		background-size: cover;
		background-repeat: repeat;
		width: 100%;
		height: 100%;
	}
}
@media screen and (max-width:750px) {
	.area {
		background-image: url(images/animatBack.jpg);
		background-size: cover;
		background-repeat: repeat;
		width: 100%;
		height: 100%;
	}
}
@keyframes animate {
	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 1;
		border-radius: 0;
	}
	100% {
		transform: translateY(-62.500em) rotate(720deg);
		opacity: 0.1;
		border-radius: 50%;
	}
}
