
@keyframes flip-horizontal-bottom {
	0% {
		-webkit-transform: rotateX(0);
		transform: rotateX(0);
	}
	100% {
		-webkit-transform: rotateX(-180deg);
		transform: rotateX(-180deg);
	}
}
body {
	height: 100%;
	-ms-overflow-style: none;
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}

}
html {
	height: 100%;
	-ms-overflow-style: none;
	scrollbar-width: none;
	scroll-behavior: smooth;
}
.bg {
	background-image: url("images/test.jpg");
	height: 50em;
	max-height: 50em;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.bgas {
	background-image: url('images/contact.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	h1 {
		-webkit-text-stroke-width: 0.5px;
		-webkit-text-stroke-color: #FC766AFF;
	}
}
.bgAb {
	background: linear-gradient(90deg, #5B84B1FF 33%, #5F4B8BFF 66%, #FC766AFF);
	z-index: 0;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	h1 {
		font-family: "Arvo", serif;
		-webkit-text-stroke-width: 0.031em;
		-webkit-text-stroke-color: #FC766AFF;
	}
}
.bgBody {
	background-image: url("images/container.jpg.png");
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}
.centerBlock {
	padding-top: 16em;
	.welcome {
		font-family: "Arvo", serif;
		text-shadow: 1px 1px 2px black, 0 0 1em black;
		font-color: #CDB599FF;
	}
	p {
		-webkit-text-stroke-width: 0.031em;
		-webkit-text-stroke-color: white;
		font-color: #CDB599FF;
	}
}
.welcome {
	text-decoration: underline;
}
.menuList {
	font-size: 1.25em;
	&:hover {
		left: 0;
	}
}
.container {
	width: 37.500em;
	padding-right: 15.625em;
	padding-top: 18.750em;
	margin: 0 auto;
}
.contactsUL {
	list-style: none;
}
.ancContact {
	color: white;
	text-decoration: none;
	&:hover {
		color: #FC766AFF;
		text-decoration: none;
	}
}
.projDiv {
	padding-top: 5%;
	padding-right: 10%;
	padding-left: 10%;
	max-height: 100%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.bgOneMore {
	h1 {
		font-family: "Arvo", serif;
		-webkit-text-stroke-width: 0.031em;
		-webkit-text-stroke-color: black;
	}
}
.flexAbout {
	display: flex;
}
.textBlock {
	display: block;
	position: relative;
	&::after {
		content: "";
		background-image: url(images/page.jpg);
		background-size: cover;
		border-style: groove;
		opacity: 0.5;
		top: 0;
		left: 2.188em;
		bottom: 0;
		right: 2.188em;
		position: absolute;
		z-index: -1;
	}
}
.conkek {
	padding-top: 10em;
	padding-left: 3em;
	padding-right: 3em;
}
.container-fluid {
	max-width: 90%;
	padding-top: 1.563em;
}
.imgAboutB {
	width: 83em;
	height: 13em;
	border-radius: 0.938em;
	border-style: groove;
	border-color: #CDB599FF;
	background-image: url(images/bio1.jpg);
	background-size: cover;
}
.imgAboutE {
	width: 70%;
	height: 13em;
	border-radius: 0.938em;
	border-style: groove;
	border-color: #CDB599FF;
	background-image: url(images/edu1.jpg);
	background-size: cover;
}
.imgAboutS {
	width: 70%;
	height: 13em;
	border-radius: 0.938em;
	border-style: groove;
	border-color: #CDB599FF;
	background-image: url(images/code1.jpg);
	background-size: cover;
}
.imgAboutH {
	width: 70%;
	height: 13em;
	border-radius: 0.938em;
	border-style: groove;
	border-color: #CDB599FF;
	background-image: url(images/hobby1.jpg);
	background-size: cover;
}
.aboutP {
	-webkit-text-fill-color: black;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: white;
	font-size: 1.563em;
}
article {
	font-family: 'Playfair Display', serif;
}
.topBackGR {
	background-image: url(images/idea1.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-self: center;
}
.h1Blog {
	padding-top: 7.500em;
	padding-left: 3.250em;
	text-transform: uppercase;
	background: linear-gradient(30deg, #FC766AFF 33%, #5F4B8BFF 66%, #5B84B1FF);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: #0B2349;
	font-family: "Arvo", serif;
	-webkit-text-stroke-width: 0.5px;
	-webkit-text-stroke-color: #5F4B8BFF;
}
.main-section {
	margin: 0.313em;
}
.topic1 {
	padding-top: 3.438em;
	background-image: url(images/code2.jpg);
	background-size: cover;
	border-radius: 3.125em;
	background-opacity: 0.5;
	border-style: groove;
	border-color: #CDB599FF;
	display: flex;
	flex-direction: row;
}
.topic2 {
	padding-top: 3.438em;
	background-image: url(images/bio.jpg);
	background-size: cover;
	border-radius: 3.125em;
	background-opacity: 0.5;
	border-style: groove;
	border-color: #CDB599FF;
	display: flex;
	flex-direction: row;
}
.utopic {
	padding-top: 9.688em;
	opacity: 1;
	margin-bottom: 9.688em;
	display: flex;
	flex-direction: row;
}
.blogSec {
	border: 5px solid #5B84B1FF;
	border-radius: 7px;
}
.abss {
	border-radius: 0.938em;
	border-style: groove;
	border-color: #CDB599FF;
	background-color: black;
	opacity: 0.7;
}
.cardM {
	width: 18.750em;
	max-height: 31.250em;
}
.cardB {
	width: 100%;
	max-height: 12.500em;
}
.imgPost {
	max-width: 12em;
	max-height: 12em;
}
.btnPost {
	margin-bottom: 1em;
}
.btnNavPost {
	&:hover {
		-webkit-animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
		animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
		background: black;
		text-decoration-color: white;
	}
}
.arrow {
	height: 5vw;
	width: 5vw;
	border-style: solid;
	border-color: white;
	border-width: 0px 0px 1px 1px;
	transform: rotate(45deg);
	transition: border-width 150ms ease-in-out;
	&:hover {
		border-bottom-width: 4px;
		border-left-width: 4px;
	}
}
.arrowB {
	height: 5vw;
	width: 5vw;
	border-style: solid;
	border-color: white;
	border-width: 0px 1px 1px 0px;
	transform: rotate(45deg);
	transition: border-width 150ms ease-in-out;
	&:hover {
		border-bottom-width: 4px;
		border-right-width: 4px;
	}
}
#post {
	opacity: 1;
	transition: opacity 1s;
}
#post.hide {
	opacity: 0;
}
@media screen and (max-device-width:2560px) {
	.imgAboutB {
		width: 93em;
		height: 15em;
		border-radius: 0.938em;
		border-style: groove;
		background-image: url(images/bio.jpg);
		background-size: cover;
		flex-wrap: nowrap;
		background-position: right center;
	}
	.imgAboutE {
		width: 93em;
		height: 15em;
		border-radius: 0.938em;
		border-style: groove;
		background-image: url(images/edu.jpg);
		background-size: cover;
		flex-wrap: nowrap;
		background-position: right center;
	}
	.imgAboutS {
		width: 93em;
		height: 15em;
		border-radius: 0.938em;
		border-style: groove;
		background-image: url(images/skills.jpg);
		background-size: cover;
		flex-wrap: nowrap;
	}
	.imgAboutH {
		width: 93em;
		height: 15em;
		border-radius: 0.938em;
		border-style: groove;
		background-image: url(images/hobby.jpg);
		background-size: cover;
		flex-wrap: nowrap;
	}
	.flexAbout {
		display: flex;
		flex-wrap: nowrap !important;
	}
	.aboutH {
		font-size: 1.250em;
	}
	.aboutP {
		font-size: 1.875em;
	}
}
@media screen and (max-width:2560px) {
	.imgAboutB {
		width: 93em;
		height: 15em;
		border-radius: 0.938em;
		border-style: groove;
		background-image: url(images/bio.jpg);
		background-size: cover;
		flex-wrap: nowrap;
		background-position: right center;
	}
	.imgAboutE {
		width: 93em;
		height: 15em;
		border-radius: 0.938em;
		border-style: groove;
		background-image: url(images/edu.jpg);
		background-size: cover;
		flex-wrap: nowrap;
		background-position: right center;
	}
	.imgAboutS {
		width: 93em;
		height: 15em;
		border-radius: 0.938em;
		border-style: groove;
		background-image: url(images/skills.jpg);
		background-size: cover;
		flex-wrap: nowrap;
	}
	.imgAboutH {
		width: 93em;
		height: 15em;
		border-radius: 0.938em;
		border-style: groove;
		background-image: url(images/hobby.jpg);
		background-size: cover;
		flex-wrap: nowrap;
	}
	.flexAbout {
		display: flex;
		flex-wrap: nowrap !important;
	}
	.aboutH {
		font-size: 1.250em;
	}
	.aboutP {
		font-size: 1.875em;
	}
}
@media screen and (max-device-width:1440px) {
	.imgAboutB {
		width: 63em !important;
		height: 13em !important;
		border-radius: 0.938em;
		border-style: groove;
		background-image: url(images/bio.jpg);
		background-size: cover;
		flex-wrap: nowrap;
	}
	.imgAboutE {
		width: 63em !important;
		height: 13em !important;
		border-radius: 0.938em;
		border-style: groove;
		background-image: url(images/edu.jpg);
		background-size: cover;
		flex-wrap: nowrap;
	}
	.imgAboutS {
		width: 63em !important;
		height: 13em !important;
		border-radius: 0.938em;
		border-style: groove;
		background-image: url(images/skills.jpg);
		background-size: cover;
		flex-wrap: nowrap;
	}
	.imgAboutH {
		width: 63em !important;
		height: 13em !important;
		border-radius: 0.938em;
		border-style: groove;
		background-image: url(images/hobby.jpg);
		background-size: cover;
		flex-wrap: nowrap;
	}
	.flexAbout {
		display: flex;
		flex-wrap: nowrap !important;
	}
	.aboutH {
		font-size: 1.188em;
	}
	.aboutP {
		font-size: 1.875em;
	}
}
@media screen and (max-width:1440px) {
	.imgAboutB {
		width: 63em !important;
		height: 13em !important;
		border-radius: 0.938em;
		border-style: groove;
		background-image: url(images/bio.jpg);
		background-size: cover;
		flex-wrap: nowrap;
	}
	.imgAboutE {
		width: 63em !important;
		height: 13em !important;
		border-radius: 0.938em;
		border-style: groove;
		background-image: url(images/edu.jpg);
		background-size: cover;
		flex-wrap: nowrap;
	}
	.imgAboutS {
		width: 63em !important;
		height: 13em !important;
		border-radius: 0.938em;
		border-style: groove;
		background-image: url(images/skills.jpg);
		background-size: cover;
		flex-wrap: nowrap;
	}
	.imgAboutH {
		width: 63em !important;
		height: 13em !important;
		border-radius: 0.938em;
		border-style: groove;
		background-image: url(images/hobby.jpg);
		background-size: cover;
		flex-wrap: nowrap;
	}
	.flexAbout {
		display: flex;
		flex-wrap: nowrap !important;
	}
	.aboutH {
		font-size: 1.188em;
	}
	.aboutP {
		font-size: 1.875em;
	}
}
@media screen and (max-device-width:1024px) {
	.imgAboutB {
		width: 93em !important;
		height: 13em;
		border-radius: 0.938em;
		border-style: groove;
		background-image: url(images/bio1.jpg);
		background-size: cover;
		flex-wrap: nowrap;
	}
	.imgAboutE {
		width: 93em !important;
		height: 13em;
		border-radius: 0.938em;
		border-style: groove;
		background-image: url(images/edu1.jpg);
		background-size: cover;
		flex-wrap: nowrap;
	}
	.imgAboutS {
		width: 93em !important;
		height: 13em;
		border-radius: 0.938em;
		border-style: groove;
		background-image: url(images/code1.jpg);
		background-size: cover;
		flex-wrap: nowrap;
	}
	.imgAboutH {
		width: 93em !important;
		height: 13em;
		border-radius: 0.938em;
		border-style: groove;
		background-image: url(images/hobby1.jpg);
		background-size: cover;
		flex-wrap: nowrap;
	}
	.flexAbout {
		display: flex;
		flex-wrap: nowrap !important;
	}
	.aboutH {
		font-size: 0.938em;
	}
	.aboutP {
		font-size: 1.563em;
	}
}
@media screen and (max-width:1024px) {
	.imgAboutB {
		width: 93em !important;
		height: 13em;
		border-radius: 0.938em;
		border-style: groove;
		background-image: url(images/bio1.jpg);
		background-size: cover;
		flex-wrap: nowrap;
	}
	.imgAboutE {
		width: 93em !important;
		height: 13em;
		border-radius: 0.938em;
		border-style: groove;
		background-image: url(images/edu1.jpg);
		background-size: cover;
		flex-wrap: nowrap;
	}
	.imgAboutS {
		width: 93em !important;
		height: 13em;
		border-radius: 0.938em;
		border-style: groove;
		background-image: url(images/code1.jpg);
		background-size: cover;
		flex-wrap: nowrap;
	}
	.imgAboutH {
		width: 93em !important;
		height: 13em;
		border-radius: 0.938em;
		border-style: groove;
		background-image: url(images/hobby1.jpg);
		background-size: cover;
		flex-wrap: nowrap;
	}
	.flexAbout {
		display: flex;
		flex-wrap: nowrap !important;
	}
	.aboutH {
		font-size: 0.938em;
	}
	.aboutP {
		font-size: 1.563em;
	}
}
@media screen and (max-device-width:960px) {
	.imgAboutB {
		width: 133em !important;
		height: 13em;
		border-radius: 0.938em;
		border-style: groove;
		background-image: url(images/bio1.jpg);
		background-size: cover;
		background-position: right center;
		padding-top: 17em;
	}
	.imgAboutE {
		width: 133em !important;
		height: 13em;
		border-radius: 0.938em;
		border-style: groove;
		background-image: url(images/edu1.jpg);
		background-size: cover;
		background-position: center;
		padding-top: 17em;
	}
	.imgAboutS {
		width: 133em !important;
		height: 13em;
		border-radius: 0.938em;
		border-style: groove;
		background-image: url(images/code1.jpg);
		background-size: cover;
		background-position: right center;
		padding-top: 17em;
	}
	.imgAboutH {
		width: 133em !important;
		height: 13em;
		border-radius: 0.938em;
		border-style: groove;
		background-image: url(images/hobby1.jpg);
		background-size: cover;
		background-position: center;
		padding-top: 17em;
	}
	.flexAbout {
		display: flex;
		flex-wrap: wrap !important;
	}
}
@media screen and (max-width:960px) {
	.imgAboutB {
		width: 133em !important;
		height: 13em;
		border-radius: 0.938em;
		border-style: groove;
		background-image: url(images/bio1.jpg);
		background-size: cover;
		background-position: right center;
		padding-top: 17em;
	}
	.imgAboutE {
		width: 133em !important;
		height: 13em;
		border-radius: 0.938em;
		border-style: groove;
		background-image: url(images/edu1.jpg);
		background-size: cover;
		background-position: center;
		padding-top: 17em;
	}
	.imgAboutS {
		width: 133em !important;
		height: 13em;
		border-radius: 0.938em;
		border-style: groove;
		background-image: url(images/code1.jpg);
		background-size: cover;
		background-position: right center;
		padding-top: 17em;
	}
	.imgAboutH {
		width: 133em !important;
		height: 13em;
		border-radius: 0.938em;
		border-style: groove;
		background-image: url(images/hobby1.jpg);
		background-size: cover;
		background-position: center;
		padding-top: 17em;
	}
	.flexAbout {
		display: flex;
		flex-wrap: wrap !important;
	}
}
@media screen and (max-device-width:425px) {
	.imgAboutB {
		width: 63em;
		height: 13em;
		border-radius: 0.938em;
		border-style: groove;
		background-image: url(images/bio1.jpg);
		background-size: cover;
	}
	.imgAboutE {
		width: 63em;
		height: 13em;
		border-radius: 0.938em;
		border-style: groove;
		background-image: url(images/edu1.jpg);
		background-size: cover;
	}
	.imgAboutS {
		width: 63em;
		height: 13em;
		border-radius: 0.938em;
		border-style: groove;
		background-image: url(images/code1.jpg);
		background-size: cover;
	}
	.imgAboutH {
		width: 63em;
		height: 13em;
		border-radius: 0.938em;
		border-style: groove;
		background-image: url(images/hobby1.jpg);
		background-size: cover;
	}
	.flexAbout {
		display: flex;
		flex-wrap: wrap !important;
	}
}
@media screen and (max-width:425px) {
	.imgAboutB {
		width: 63em;
		height: 13em;
		border-radius: 0.938em;
		border-style: groove;
		background-image: url(images/bio1.jpg);
		background-size: cover;
	}
	.imgAboutE {
		width: 63em;
		height: 13em;
		border-radius: 0.938em;
		border-style: groove;
		background-image: url(images/edu1.jpg);
		background-size: cover;
	}
	.imgAboutS {
		width: 63em;
		height: 13em;
		border-radius: 0.938em;
		border-style: groove;
		background-image: url(images/code1.jpg);
		background-size: cover;
	}
	.imgAboutH {
		width: 63em;
		height: 13em;
		border-radius: 0.938em;
		border-style: groove;
		background-image: url(images/hobby1.jpg);
		background-size: cover;
	}
	.flexAbout {
		display: flex;
		flex-wrap: wrap !important;
	}
}
